<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar: The Last Airbender</title>
  </head>
  <body>
    <div id="app">
      <h2>Statistics</h2>

      <ul>
        <li v-for="(value, key) in rateType">
              {{`${key} : ${value}`}}
        </li>
      </ul>
      <h2>Characters</h2>
      <h1>{{regulatedTitle}}</h1>
      <h1 v-on:click="increment">{{count}}</h1>
      <p v-if="characterList.length === 0">There are no characters</p>
      <ul v-else-if="characterList.length % 2 === 0">
        <li v-for="character in characterList">
          <p>{{ character.name }}</p>
          <p>{{ character.type }}</p>
          <div>
            <input v-model="typeInputs[character.name]" type="text" :name="character.name" :id="character.name">
            <button :name="character.name" v-on:click="addType">AddType</button>
          </div>
          <button @click="favoriteCharacter(character)">⭐ Favorite</button>
        </li>
      </ul>
      <h2>Favorite Characters</h2>
      <ul v-if="favoriteList.length > 0">
        <li v-for="character in favoriteList">{{ character.name }} </li>
      </ul>
      <p v-else>No favorite characters yet!</p>
      <h2>New Character</h2>
      <pre>{{ newCharacter }}</pre>
      <label for="character-name">Name</label>
      <input
        type="text"
        v-model="newCharacter.name"
        @keyup.enter="addNewCharacter"
      />
      <p>
        <span v-for="(character, index) in characterList"
          >{{ character.name }}{{ index === characterList.length - 1 ? '' : ', '
          }}
        </span>
      </p>
      <p v-else>There are odd characters!</p>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
      Vue.createApp({
        data: () => ({
          title : 'Avatar',
          count : 0 ,
          newCharacter: {
            name: '',
            type : []
          },
          rate: {},
          typeInputs : {} ,
          characterList: [
            {
              name: 'Aang',
              type : ["Air", "Water", "Earth", "Fire"]
            },
            {
              name: 'Zuko',
              type : ["Fire"]},
            {
              name: 'Toph',
              type : ["Water"]
            },
            {
              name: 'Katara',
              type : ["Earth"]
            }
          ],
          favoriteList: []
        }),
        methods: {
          addNewCharacter() {
            this.characterList.push(this.newCharacter)
            this.newCharacter = { name: '' }
          },
          favoriteCharacter(character) {
            this.favoriteList.push(character)
          },
          increment(){
             this.count = this.count + 1
          },
          addType(e){
              console.log(e.target.name, this.typeInputs[e.target.name])
          }
        },
        computed : {
            regulatedTitle(){
              return  this.count > 10 ? "One Piece !!" : this.title
            },
            rateType(){
               let  types = []
               for(const item of this.characterList){
                    types.push(...item.type)
               }
               const rate = {}
                for(let i = 0 ; i < types.length ; i++){
                    if(!rate[types[i]]){
                      rate[types[i]] = 1
                    }else{
                      rate[types[i]]++
                    }
                }
                return rate
            }
        }
      }).mount('#app')
    </script>
  </body>
</html>